[submodule "yocto/poky"]
	path = yocto/poky
	url = https://git.yoctoproject.org/git/poky
	branch = rocko
[submodule "yocto/meta-xilinx"]
	path = yocto/meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
[submodule "yocto/meta-openembedded"]
	path = yocto/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "yocto/meta-xilinx-tools"]
	path = yocto/meta-xilinx-tools
	url = https://github.com/Xilinx/meta-xilinx-tools.git
